<div class="panel panel-default">
  <div class="panel-body">
    <ul>
      <li>Bible Verse API provided by <a href="http://www.digitalbibleplatform.com/">Digital Bible Platform</a>
      <li>Developed at <a href="http://codeforthekingdom.org/">Code for The Kingdom</a> Hackathon</li>
      <li>by Teri Muhr &amp; Nola Stowe</li>
    </ul>

    <h3>Future Improvements</h3>
    <ul>
      <li>Add New Testament References.</li>
      <li>Add option to get more than one verse.</li>
      <li>Add option to to choose Bible Version.</li>
      <li>Add options of hearing the Audio version of the verse</li>
      <li>Package Ruby implementation of Digital Bible Platform into a ruby gem.</li>
      <li>Create user accounts where they can save references to their account.</li>
      <li>Create reminders or record when a user last studied an account</li>
    </ul>

    <h3>Tech Used</h3>
    <ul>
      <li>Ruby 2.0, Rails 4.2</li>
      <li>Github <a href="http://www.github.com/rubygeek/bible_memory">Open Source Code</a></li>
      <li>Bootstrap 3.0</li>
      <li>Digital Bible Platform</li>
      <li>JQuery, JQueryUI</li>
    </ul>
  </div>

</div>

