<div class="panel panel-default">
  <div class="panel-body">
    <ul>
      <li>Bible Verse API provided by <a href="http://www.digitalbibleplatform.com/">Digital Bible Platform</a>
      <li>Developed at <a href="http://codeforthekingdom.org/">Code for The Kingdom</a> Hackathon</li>
      <li>by Teri Muhr &amp; Nola Stowe</li>
  </div>
</div>